---
layout: page
titles:
  # @start locale config
  en      : &EN       Travel
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  Travel
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  Travel
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       Travel
  ko-KR   : *KO
  fr      : &FR       Travel
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Travel
  # @end locale config
---

<!-- 
<div class="layout--archive js-all">
  {%- include tags.html -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>
-->
 <header>
    <h2>Planes</h2>
  </header>
  <p>Berkeley is served by several international airports. The largest is <a href="https://www.flysfo.com/">San Francisco International Airport (SFO)</a>, 
    located about 25 miles (40 kilometers) away. SFO is a large international hub that offers direct flights to many destinations in 
  Asia and Europe, as well as within North America. Another option is the closer, though smaller <a href="https://www.iflyoak.com/">Oakland International Airport (OAK)</a>, 
    located about 15 miles (24 kilometers) away. Despite the name, OAK is largely a domestic airport offering flights within the 
    United States, although there are several  flights to Mexico. Travel to <a href="https://www.flysanjose.com/">San Jose International Airport (SJC)</a> is also possible, though it is the 
  furthest from Berkeley of the three airports at 47 miles (76 kilometers). </p>


    <h2>Trains</h2>
  </header>
  <p>The Bay Area is served by several public transit agencies, the most important of which is <a href="https://www.bart.gov/">BART (Bay Area Rapid Transit)</a>,  
    the metro/subway/commuter rail  rapid transit service that connects the Bay Area cities together. Importantly, BART serves  
    the UC Berkeley campus through the "Downtown Berkeley" station and both SFO (through the "San Francisco International Airport" station) and OAK  
    (through the "Oakland International Airport" station). Note that the OAK station connects to the "Coliseum" station by a short connector train that is still part of the BART system.  
    Unfortunately, BART does not serve SJC. The nearest station is "Berryessa/North San José", about a 10-15 minute drive away. See the <a href="https://www.bart.gov/sites/default/files/2025-01/BART-Detailed-Map-Web.pdf">attached map</a> for help planning your trip.
  </p>

    <h2>And Automobiles</h2>
  </header>
  <p>The main public bus system in the East Bay is <a href="https://www.actransit.org/">AC Transit</a>. Please see the <a href="https://www.actransit.org/sites/default/files/2024-12/System%20Overview%20Map%20with%20Insets.pdf">attached map</a> for details (UC Berkeley is shown in tan near the top). Google Maps will happily plan a trip for you and has 
    real-time departure/arrival information. Consult the <a href="https://www.actransit.org/fares">AC Transit fares page</a> for payment information. Rideshare companies like Uber and Lyft also operate in the Bay Area.
  </p>

    <h2>Lodging</h2>
  </header>
  <p> Unfortunately, we are unable to provide accommodations and  housing is not included in your registration.  
    However, we are currently putting together a  list of recommended hotels that are near campus and will post that here shortly.
  </p>



