---
layout: articles
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Ana Sayfa
  # @end locale config
show_title: false
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: false
  show_readmore: false
  show_info: false
---

<img src="/assets/Background.jpg" style="max-width: 100%; height: auto;" />

Welcome to the website for the Probabilistic Modeling in Genomics Conference 2026!  
The <a href="https://ccb.berkeley.edu">Center for Computational Biology (CCB)</a> and the <a href="https://sites.google.com/berkeley.edu/cteg/home">Center for Theoretical and Evolutionary Genomics</a> at UC Berkeley are proud to be hosting the ProbGen 2026 Conference, which will run from 
March 25th to March 28th 2026 in <a href="https://www.visitberkeley.com/">Berkeley, California</a>. All talks will take place in the <a href="https://www.berkeley.edu/map/li-ka-shing-center/">Li Ka Shing Center</a> Room 245. Our confirmed keynote speakers are  
<a href="https://web.stanford.edu/group/pritchardlab/home.html">Jonathan Pritchard</a> and <a href="https://zoology.ubc.ca/person/sarah-sally-otto">Sally Otto</a>.
<p>
<p> Abstract submission closes on January 15th, 2026 and registration closes on January 31st, 2026. Make sure to <a href="https://probgen2026.github.io/registration.html">sign up</a> before it's too late.
 We hope to see you there!
<p> 
  <p> We thank the following sponsors for their generous support of this conference:
  <p>
      <p>
          <p>
   <center>  <img src="/assets/genentech.png" style="max-width: 75%; height: auto;" />   </center> 
         <p>
   <center>  <img src="/assets/HPGG.png" style="max-width: 75%; height: auto;" />   </center>

<p>
<p><b>Program Committee:</b><br>
Rasmus Nielsen (lead organizer)<br>
Priya Moorjani<br>
Yun S. Song<br>
Peter Sudmant
</p>

<p><b>Organizing Committee:</b><br>
Yun Deng<br>
Stephen Gaughran<br>
Sarah Johnson<br>
Jacky Li<br>
Priya Moorjani<br>
Rasmus Nielsen<br>
Yun S. Song<br>
Peter Sudmant<br>
Andrew Vaughn<br>
Yulin Zhang
</p>

{{ content }}
