---
layout: page
titles:
  # @start locale config
  en      : &EN       Program
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  Program
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  Program
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       Program
  ko-KR   : *KO
  fr      : &FR       Program
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Program
  # @end locale config
---

<!-- 
<div class="layout--archive js-all">
  {%- include tags.html -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>
-->


<header>
    <h2 style="text-align: center;">Wednesday, March 25</h2>
  </header>


<header>
    <h5><b>8-8:45</b> Registration, Coffee, and Light Breakfast/h5>
  </header>


<header>
    <h5><b>9-10:15</b> Session: Machine Learning in Genomics I (Chairs: Sara Mostafavi and Sriram Sankararaman)</h5>
  </header>



<header>
    <h5><b>10:15-10:45</b> Break</h5>
  </header>



<header>
    <h5><b>10:45-12</b> Session: Machine Learning in Genomics II</h5>
  </header>



<header>
    <h5><b>12-1</b> Lunch</h5>
  </header>

<header>
    <h5><b>1-2</b> GHIST Workshop (Optional)</h5>
  </header>

<header>
    <h5><b>2-4</b> Poster Session I</h5>
  </header>


<header>
    <h5><b>4-8</b> Reception</h5>
  </header>




<header>
    <h2 style="text-align: center;">Thursday, March 26</h2>
  </header>

<header>
    <h5><b>8-9</b> Coffee and Light Breakfast</h5>
  </header>

<header>
    <h5><b>9-10:20</b> Session: Quantiative Genetics and Association Mapping I (Chairs: Sasha Gusev and Sohini Ramachandran)</h5>
  </header>

<header>
    <h5><b>10:20-10:50</b> Break</h5>
  </header>

<header>
    <h5><b>10:50-12:10</b> Session: Quantitative Genetics and Association Mapping II</h5>
  </header>

<header>
    <h5><b>12:10-1:30</b> Lunch</h5>
  </header>


<header>
    <h5><b>1:30-2:30</b> Keynote I (Jonathan Pritchard)</h5>
  </header>


<header>
    <h5><b>2:30-2:50</b> Break</h5>
  </header>

<header>
    <h5><b>2:50-4:10</b> Session: Systems Biology I (Chairs: Christina Leslie and Heng Li)</h5>
  </header>


<header>
    <h5><b>4:10-4:40</b> Break</h5>
  </header>

<header>
    <h5><b>4:40-6:00</b> Session: Systems Biology II</h5>
  </header>

<header>
    <h5><b>6-8</b> Self-organized Dinner</h5>
  </header>

<header>
    <h5><b>8-10</b> Poster Session II</h5>
  </header>



<header>
    <h2 style="text-align: center;">Friday, March 27</h2>
  </header>

<header>
    <h5><b>8-9</b> Coffee and Light Breakfast</h5>
  </header>

<header>
    <h5><b>9-10:20</b> Session: Phylogenetics and Evolutionary Dyanmics I (Chairs: Erick Matsen and Julia Palacios)</h5>
  </header>

<header>
    <h5><b>10:20-10:50</b> Break</h5>
  </header>

<header>
    <h5><b>10:50-12:10</b> Session: Phylogenetics and Evolutionary Dyanmics II</h5>
  </header>

<header>
    <h5><b>12:10-1:30</b> Lunch</h5>
  </header>


<header>
    <h5><b>1:30-2:30</b> Keynote II (Sally Otto)</h5>
  </header>


<header>
    <h5><b>2:30-2:50</b> Break</h5>
  </header>

<header>
    <h5><b>2:50-4:10</b> Session: Population and Statistical Genetics I (Chairs: Rori Rohlfs and Pier Palamara)</h5>
  </header>


<header>
    <h5><b>4:10-4:40</b> Break</h5>
  </header>

<header>
    <h5><b>4:40-6:00</b> Session: Population and Statistical Genetics II</h5>
  </header>

<header>
    <h5><b>6-6:30</b> Break</h5>
  </header>

<header>
    <h5><b>8-10</b> Conference Dinner </h5>
  </header>


<header>
    <h2 style="text-align: center;">Saturday, March 28</h2>
  </header>



<header>
    <h5><b>8-9</b> Coffee and Light Breakfast</h5>
  </header>

<header>
    <h5><b>9-10:20</b> Demographic Inference I (Chairs: Jonathan Terhorst and Anastasia Ignatieva)</h5>
  </header>

<header>
    <h5><b>10:20-10:50</b> Break</h5>
  </header>

<header>
    <h5><b>10:50-12:10</b> Demographic Inference II</h5>
  </header>

<header>
    <h5><b>12:10-12:30</b> Closing Remarks</h5>
  </header>
 

