---
layout: page
titles:
  # @start locale config
  en      : &EN       Program
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  Program
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  Program
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       Program
  ko-KR   : *KO
  fr      : &FR       Program
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Program
  # @end locale config
---

<!-- 
<div class="layout--archive js-all">
  {%- include tags.html -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>
-->

<header>
    <h2>Keynote speakers: Sally Otto and Jonathan Pritchard</h2>
  </header>

 <header>
    <h2>Session I: Quantitative Genetics and Association Mapping.</h2>
  </header>
Chairs: Sasha Gusev and Sohini Ramachandran

 <header>
    <h2>Session II: Machine Learning in Genomics</h2>
  </header>
Chairs: Sara Mostafavi and Sriram Sankararaman 

 <header>
    <h2>Session III: Population and Statistical Genetics</h2>
  </header>
Chairs: Rori Rohlfs and Pier Palamara

  <header>
    <h2>Session IV:Demographic Inference</h2>
  </header>
Chairs: Jonathan Terhorst and Anastasia Ignatieva 

 <header>
    <h2>Session V: Systems Biology</h2>
  </header>
Chairs: Christina Leslie and Heng Li 

 <header>
    <h2>Session VI: Phylogenetics and Evolutionary Dynamics</h2>
  </header>
Chairs: Erick Matsen and Julia Palacios

<p style="margin-top:3cm;">A detailed schedule will be posted later.</p>

